BROKER_HOST=localhost
BROKER_PORT=5672

PEDIDO_DB_URL=postgresql://user:senha@pedido-db:5432/pedido
PAGAMENTO_DB_URL=postgresql://user:senha@pagamento-db:5432/pagamento
LOGISTICA_DB_URL=postgresql://user:senha@logistica-db:5432/logistica

PEDIDO_PORT=8001
PAGAMENTO_PORT=8002
LOGISTICA_PORT=8003
DASHBOARD_PORT=8050

TAXA_ANTIFRAUDE=1
TAXA_CATALOGO=1